@media screen and (max-width:700px){
    header .container{
        display:flex;
        flex-direction: column;
    }

    .container{
        margin-left:10px;
        margin-right:10px;
    }

    .botao{
        margin-top:5px;
        width:150px;
        height:60px;
    }

    .botao-play{
        margin-top:5px;
        width:150px;
        height:60px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width:50%;
    }
}